bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/PMS/.vs/PMS
/.vs
/PMS/.vs/ProjectEvaluation
/Parkable.Infra/.vs/Parkable.Infra
/Parkable.Infra/.vs/Parkable.Infra/DesignTimeBuild
/Parkable.Infra/.vs/Parkable.Infra/DesignTimeBuild/.dtbcache.v2
/Parkable.Infra/.vs/Parkable.Infra/FileContentIndex
/Parkable.Infra/.vs/Parkable.Infra/FileContentIndex/504417e3-84fb-44fc-9e92-89f6dfda0392.vsidx
/Parkable.Infra/.vs/Parkable.Infra/FileContentIndex/669c1465-c1a8-4579-af7a-5b3a1eab8dd6.vsidx
/Parkable.Infra/.vs/Parkable.Infra/FileContentIndex/77e7f475-2b56-4af9-bd95-6b34e3388cef.vsidx
/Parkable.Infra/.vs/Parkable.Infra/FileContentIndex/895f9574-e7c9-4a89-a0f7-f4044e20946b.vsidx
/Parkable.Infra/.vs/Parkable.Infra/FileContentIndex/ec9e8c97-dbee-43f4-9660-b8311309a39c.vsidx
/Parkable.Infra/.vs/Parkable.Infra/v17
/Parkable.Infra/.vs/Parkable.Infra/v17/.suo
/Parkable.Infra/.vs/Parkable.Infra/v17/DocumentLayout.json
